# 範例
***

# [教學目標]

* 正確的從 DataFrame 中插入或刪除資料
* 正確的對 DataFrame 進行合併與重組
* 了解 DataFrame 中合併的方法差異

In [1]:
# 載入 NumPy, Pandas 套件
import numpy as np
import pandas as pd

# 檢查正確載入與版本
print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from 'C:\\Users\\jerry.yeh\\Anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
1.19.2
<module 'pandas' from 'C:\\Users\\jerry.yeh\\Anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
1.1.3

In [5]:
# practice
import numpy as np
import pandas as pd

print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from 'C:\\Users\\jerry.yeh\\Anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
1.19.2
<module 'pandas' from 'C:\\Users\\jerry.yeh\\Anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
1.1.3

In [4]:
# 從 DataFrame 中插入或刪除資料

import pandas as pd

df = pd.DataFrame([[1], [2]], columns = ['a'])
print(df)

df['b'] = pd.Series([3, 4])
print(df)

   a
0  1
1  2
   a  b
0  1  3
1  2  4

In [7]:
# practice

import pandas as pd
df = pd.DataFrame([[1],[2]],columns=['a'])
print(df)

df['d'] =pd.Series([3,4])
print(df)

   a
0  1
1  2
   a  d
0  1  3
1  2  4

In [5]:
import pandas as pd

df = pd.DataFrame([[1, 2]], columns = ['a', 'b'])
print(df)


df = df.append(pd.DataFrame([[3, 4]], columns = ['a', 'b']))
print(df)

   a  b
0  1  2
   a  b
0  1  2
0  3  4

In [9]:
import pandas as pd
df = pd.DataFrame([[1,2]],columns=['a','b'])
print(df)
df = df.append(pd.DataFrame([[3,4]],columns=['a','b']))
print(df)

   a  b
0  1  2
   a  b
0  1  2
0  3  4

In [12]:
import pandas as pd

df = pd.DataFrame([[1,2]],columns=['a','b'])
print(df)

df = df.append(pd.DataFrame([[3,4]],columns=['a','b']))
print(df)
df = df.reset_index(drop=True)
print(df)

   a  b
0  1  2
   a  b
0  1  2
0  3  4
   a  b
0  1  2
1  3  4

In [7]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3]], columns = ['a', 'b', 'c'])
print(df)



del df['a']
df.pop('c')

   a  b  c
0  1  2  3

0    3
Name: c, dtype: int64

In [19]:
#practice
import pandas as pd
df = pd.DataFrame([[1,2,3]],columns=['a','b','c'])
print(df)

del df['a']
print(df)

df.pop('c')
print(df)

   a  b  c
0  1  2  3
   b  c
0  2  3
   b
0  2

In [9]:
import pandas as pd

df = pd.DataFrame([[1], [2]], columns = ['a'])
print(df)



df = df.drop(1)
print(df)

   a
0  1
1  2
   a
0  1

In [21]:
#practice drop

import pandas as pd
df = pd.DataFrame([[1],[2]],columns=['a'])
print(df)

df.drop(1)

   a
0  1
1  2

   a
0  1

In [10]:
# DataFrame 的合併與重組

one = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Bob', 'Tom']
})

pd.concat([one, two])

   id  Name
0   1  Alex
1   2   Amy
0   1   Bob
1   2   Tom

In [24]:
one = pd.DataFrame({
    'id':[1,2],
    'Name':['Bob','Tom']
})

two = pd.DataFrame({
    'id':[1,2],
    'Name':['Alex','Amy']
})

pd.concat([one,two])
pd.concat([one,two]).reset_index(drop=True)

   id  Name
0   1   Bob
1   2   Tom
2   1  Alex
3   2   Amy

In [11]:
one = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Bob', 'Tom']
})

pd.concat([one, two]).reset_index(drop=True)

   id  Name
0   1  Alex
1   2   Amy
2   1   Bob
3   2   Tom

In [13]:
one = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'id':[1, 2],
    'Score': [98, 60]
})

pd.merge(one, two, on='id')

   id  Name  Score
0   1  Alex     98
1   2   Amy     60

In [26]:
one = pd.DataFrame({
    'id':[1,2],
    'Name':['Alex','Amy'],
})

two = pd.DataFrame({
    'id':[1,2],
    'Score':[98,60]
})

print(one)
print(two)
pd.merge(one,two,on='id')

   id  Name
0   1  Alex
1   2   Amy
   id  Score
0   1     98
1   2     60

   id  Name  Score
0   1  Alex     98
1   2   Amy     60

In [14]:
one = pd.DataFrame({
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'Score': [98, 60]
})

one.join(two)

   Name  Score
0  Alex     98
1   Amy     60

In [27]:
one = pd.DataFrame({
    'Name':['Alex','Amy'],
})
two = pd.DataFrame({
    'Score':[98,60]
})

one.join(two)

   Name  Score
0  Alex     98
1   Amy     60

In [16]:


df = pd.DataFrame({
  'A' : ['foo', 'bar', 'foo', 'bar'],
  'B' : ['one', 'one', 'two', 'three'],
  'C' : [1,2,3,4],
  'D' : [10, 20, 30, 40]
})

df.groupby('A').sum()
df.groupby('A').agg(sum)
df.groupby(['A','B']).sum()

           C   D
A   B
bar one    2  20
    three  4  40
foo one    1  10
    two    3  30

In [30]:
df = pd.DataFrame({
    'A':['foo','bar','foo','bar'],
    'B':['one','one','two','three'],
    'C':[1,2,3,4],
    'D':[10,20,30,40]
})

df.groupby('A').sum()
df.groupby('A').agg(sum)
df.groupby(['A','B']).sum()

           C   D
A   B
bar one    2  20
    three  4  40
foo one    1  10
    two    3  30